.flag-border{
  border: 1px solid black;
}

.flag-a{
  content: url(svg/a.svg);
}

.flag-b{
  content: url(svg/b.svg);
}

.flag-c{
  content: url(svg/c.svg);
}

.flag-d{
  content: url(svg/d.svg);
}

.flag-e{
  content: url(svg/e.svg);
}

.flag-f{
  content: url(svg/f.svg);
}

.flag-g{
  content: url(svg/g.svg);
}

.flag-h{
  content: url(svg/h.svg);
}

.flag-i{
  content: url(svg/i.svg);
}

.flag-j{
  content: url(svg/j.svg);
}

.flag-k{
  content: url(svg/k.svg);
}

.flag-l{
  content: url(svg/l.svg);
}

.flag-m{
  content: url(svg/m.svg);
}

.flag-n{
  content: url(svg/n.svg);
}

.flag-o{
  content: url(svg/o.svg);
}

.flag-p{
  content: url(svg/p.svg);
}

.flag-q{
  content: url(svg/q.svg);
}

.flag-r{
  content: url(svg/r.svg);
}

.flag-s{
  content: url(svg/s.svg);
}

.flag-t{
  content: url(svg/t.svg);
}

.flag-u{
  content: url(svg/u.svg);
}

.flag-v{
  content: url(svg/v.svg);
}

.flag-w{
  content: url(svg/w.svg);
}

.flag-x{
  content: url(svg/x.svg);
}

.flag-y{
  content: url(svg/y.svg);
}

.flag-z{
  content: url(svg/z.svg);
}

.flag-0{
  content: url(svg/0.svg);
}

.flag-1{
  content: url(svg/1.svg);
}

.flag-2{
  content: url(svg/2.svg);
}

.flag-3{
  content: url(svg/3.svg);
}

.flag-4{
  content: url(svg/4.svg);
}

.flag-5{
  content: url(svg/5.svg);
}

.flag-6{
  content: url(svg/6.svg);
}

.flag-7{
  content: url(svg/7.svg);
}

.flag-8{
  content: url(svg/8.svg);
}

.flag-9{
  content: url(svg/9.svg);
}
