.flag{
  height: 1em;
}

i.flag{
  vertical-align: top;
}

.flag-s-2{
  height: 2em;
}

.flag-s-3{
  height: 3em;
}

.flag-s-4{
  height: 4em;
}

.flag-s-5{
  height: 5em;
}

/* International maritime signal flags reference: https://en.wikipedia.org/wiki/International_maritime_signal_flags */

.flag-a,
.flag-alfa{
  content: url(dist/svg/a.svg);
}

.flag-b,
.flag-bravo{
  content: url(dist/svg/b.svg);
}

.flag-c,
.flag-charlie{
  content: url(dist/svg/c.svg);
}

.flag-d,
.flag-delta{
  content: url(dist/svg/d.svg);
}

.flag-e,
.flag-echo{
  content: url(dist/svg/e.svg);
}

.flag-f,
.flag-foxtrot{
  content: url(dist/svg/f.svg);
}

.flag-g,
.flag-golf{
  content: url(dist/svg/g.svg);
}

.flag-h,
.flag-hotel{
  content: url(dist/svg/h.svg);
}

.flag-i,
.flag-india{
  content: url(dist/svg/i.svg);
}

.flag-j,
.flag-juliet{
  content: url(dist/svg/j.svg);
}

.flag-k,
.flag-kilo{
  content: url(dist/svg/k.svg);
}

.flag-l,
.flag-lima{
  content: url(dist/svg/l.svg);
}

.flag-m,
.flag-mike{
  content: url(dist/svg/m.svg);
}

.flag-n,
.flag-november{
  content: url(dist/svg/n.svg);
}

.flag-o,
.flag-oscar{
  content: url(dist/svg/o.svg);
}

.flag-p,
.flag-papa{
  content: url(dist/svg/p.svg);
}

.flag-q,
.flag-quebec{
  content: url(dist/svg/q.svg);
}

.flag-r,
.flag-romeo{
  content: url(dist/svg/r.svg);
}

.flag-s,
.flag-sierra{
  content: url(dist/svg/s.svg);
}

.flag-t,
.flag-tango{
  content: url(dist/svg/t.svg);
}

.flag-u,
.flag-uniform{
  content: url(dist/svg/u.svg);
}

.flag-v,
.flag-victor{
  content: url(dist/svg/v.svg);
}

.flag-w,
.flag-whiskey{
  content: url(dist/svg/w.svg);
}

.flag-x,
.flag-xray{
  content: url(dist/svg/x.svg);
}

.flag-y,
.flag-yankee{
  content: url(dist/svg/y.svg);
}

.flag-z,
.flag-zulu{
  content: url(dist/svg/z.svg);
}

.flag-0,
.flag-zero{
  content: url(dist/svg/0.svg);
}

.flag-1,
.flag-one{
  content: url(dist/svg/1.svg);
}

.flag-2,
.flag-two{
  content: url(dist/svg/2.svg);
}

.flag-3,
.flag-three{
  content: url(dist/svg/3.svg);
}

.flag-4,
.flag-four{
  content: url(dist/svg/4.svg);
}

.flag-5,
.flag-five{
  content: url(dist/svg/5.svg);
}

.flag-6,
.flag-six{
  content: url(dist/svg/6.svg);
}

.flag-7,
.flag-seven{
  content: url(dist/svg/7.svg);
}

.flag-8,
.flag-eight{
  content: url(dist/svg/8.svg);
}

.flag-9,
.flag-nine{
  content: url(dist/svg/9.svg);
}
